.hamburger-menu {
     background-color: cornflowerblue;
     border: none;
     height: 26px;
     position: relative;
     width: 42px;
   }

   .hamburger-menu::before {
    content:'';
    position: absolute;
   }